cv*.pdf
cv.aux
cv.fdb_latexmk
cv.fls
cv.log
cv.out
cv.synctex.gz
fontaxes.zip
fontinstall.html
libertine.tds.zip
logo-crop-prev.pdf
logo-crop.pdf
logo.aux
logo.log
logo.pdf
missfont.log
mweights.sty
texput.log
